html{
    background-color:dodgerblue;
}
body{
    background-color:dodgerblue;
}
h2{
    color:white;
    font-size: 50px;
}
footer{
    background:none;
}
p{
    color:white;
}
.map{
    height:100%;
}
label{
    color:white;
}
h4{
    color: white;
}
article{
    margin-right: -15px;
    margin-left: -15px;
    background-color: royalblue;
    color: white;
    border:solid 1px  #fff0ff;
}
div#terrain_actions{
    position: absolute;
    background-color: #00B0E8;
    margin-left: 15px
}
.gmapTools{
    display:none;
}
div#data-tab{
    height:50px;
    margin-bottom:50px;
}

img#terrainPicture{
    max-width:100%;
    max-height:100%;
}
div#popUpContent{
    width:550px;
    height:200px;
}
#unlockBtn{
    left:0;
}
